@import "vendor/normalize";
@import "emma";

$font-family-mono: Consolas, "Liberation Mono", Courier, "Hiragino Kaku Gothic ProN", Meiryo, monospace;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.Page {
  background-color: #f6ea8d;
  background-image: image-url("bg.png");
  color: #382c03;
}


.GlobalHeader {
  margin: 30px auto 25px;
  width: 860px;
}

.GlobalHeader-heading {
  display: inline-block;
  width: 315px;
  margin: 0;
}

.GlobalHeader-logoLink {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  display: block;
  height: 90px;
  width: 315px;
}

.GlobalHeader-descList {
  display: inline-block;
  margin: 0;
}

.GlobalHeader-descItem {
  display: block;
  height: 13px;
  margin: 0 0 7px 0;
  width: 450px;

  &:nth-of-type(1) {
    background: image-url("caption01.png") 0 0;
  }

  &:nth-of-type(2) {
    background: image-url("caption02.png") 0 0;
  }

  &:nth-of-type(3) {
    background: image-url("caption03.png") 0 0;
  }
}

.Main {
  margin: 0 auto;
  width: 900px;
}

@mixin placeholder-color($color) {
     &:-moz-placeholder {
         color: $color;
     }
     &::-webkit-input-placeholder {
         color: $color;
     }
 }

.SheetForm-textarea {
  @include placeholder-color(#df7e96);
  border-radius: 20px;
  border-style: none;
  display: block;
  font-family: $font-family-mono;
  font-size: 13px;
  height: 460px;
  padding: 20px;
  width: 100%;

  &:focus {
    @include placeholder-color(#fff);
    outline: 0;
  }
}

.SheetForm--new {
  .SheetForm-textarea {
    background-image: image-url("form_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
}
