@import "vendor/normalize";
@import "emma";

$font-family-mono: Consolas, "Liberation Mono", Courier, "Hiragino Kaku Gothic ProN", Meiryo, monospace;

$width-main: 900px;
$width-main-narrow: 860px;

$color-red: #c00230;
$color-pink: #df7e96;


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.Page {
  background-color: #f6ea8d;
  background-image: image-url("bg.png");
  color: #382c03;
}


.GlobalHeader {
  margin: 30px auto 25px;
  width: $width-main-narrow;
}

.GlobalHeader-heading {
  display: inline-block;
  width: 315px;
  margin: 0;
}

.GlobalHeader-logoLink {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  display: block;
  height: 90px;
  width: 315px;
}

.GlobalHeader-descList {
  display: inline-block;
  margin: 0;
}

.GlobalHeader-descItem {
  display: block;
  height: 13px;
  margin: 0 0 7px 0;
  width: 450px;

  &:nth-of-type(1) {
    background: image-url("caption01.png") 0 0;
  }

  &:nth-of-type(2) {
    background: image-url("caption02.png") 0 0;
  }

  &:nth-of-type(3) {
    background: image-url("caption03.png") 0 0;
  }
}

.Main {
  margin: 0 auto 30px;
  width: $width-main;
}

@mixin placeholder-color($color) {
     &:-moz-placeholder {
         color: $color;
     }
     &::-webkit-input-placeholder {
         color: $color;
     }
 }

.SheetForm-textareaOuter {
  background-color: #fff;
  border-radius: 20px;
  font-family: $font-family-mono;
  font-size: 13px;
  padding: 20px;
}

.SheetForm-textarea {
  @include placeholder-color($color-pink);
  border-style: none;
  display: block;
  padding: 4px;
  width: 100%;


  &:focus {
    @include placeholder-color(#fff);
  }
}

.SheetForm--new {
  .SheetForm-textarea {
    background-image: image-url("form_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 460px;
  }
}

.SheetForm--converted {
  .SheetForm-textareaOuter {
    display: none;
  }
}

.SheetForm-buttonGroup {
  width: $width-main-narrow;
  margin: 30px auto 20px;
}

.SheetForm-button {
  background-position: 0% 0%;
  padding: 0;
  border: 0;
  appearance: none;

  &:hover {
    background-position: 0% 100%;
    outline: 0;
  }

  &:nth-of-type(1) {
    background-image: image-url("button01_over_bg.png");
  }

  &:nth-of-type(2) {
    background-image: image-url("button02_over_bg.png");
  }

  img {
    vertical-align: text-bottom;
  }
}

.SheetForm-buttonCaption {
  width: $width-main-narrow;
  text-align: center;
}

.SheetResult {
  width: $width-main-narrow;
  margin: 0 auto 20px;
}

.SheetResult-button {
  background-position: 0 0;
  display: block;
  height: 60px;
  margin: 0;
  width: 370px;

  &:hover {
    background-position: 0 60px;
  }
}

.SheetResult-button--type1 {
  background: image-url("created_css_copy_button01.png")
}

.SheetResult-button--type2 {
  background: image-url("created_css_copy_button02.png")
}

.SheetPreview {
  overflow-y: hidden;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.SheetPreview-code {
  display: block;
  overflow-y: auto;
  font-family: $font-family-mono;
  font-size: 13px;
  background-color: #fcf3f5;
}

.SheetPreview-line {
  counter-increment: line-number;
  display: block;
  min-height: 1em;
  border-bottom: 1px solid #fff;

  &::before {
    background-color: #f7dfe6;
    color: $color-red;
    content: counter(line-number);
    display: inline-block;
    font-size: 12px;
    margin-right: 1em;
    min-width: 3.6em;
    padding: 4px 2px;
    text-align: center;
  }
}

.GlobalFooter {
  width: $width-main-narrow;
  margin: 0 auto 30px;
}

.GlobalFooter-hr {
  border-width: 1px;
  border-style: solid;
  border-color: $color-red;
}

.GlobalFooter-createdBy {
  color: $color-red;
  display: block;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-pink;
    }
  }
}
